<a href="https://colab.research.google.com/github/Adharsh0001/GUVI_DW_21/blob/main/MONGODB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATABASE_MongoDB

Conversion of json to dictionary

In [ ]:
import json
x = '{"Name":"Adharsh","Age":30}'
y = json.loads(x)
print(y)

{'Name': 'Adharsh', 'Age': 30}

Converison of dictionary to json

In [ ]:
x = {"Name":"Adharsh","Age":30}
y = json.dumps(x)
print(y)
y

{"Name": "Adharsh", "Age": 30}

'{"Name": "Adharsh", "Age": 30}'

API call and API key

In [ ]:
https://api.openweathermap.org/data/2.5/weather?q=coimbatore&appid=4497eae90016152d4d4f74e345fdd30e

SyntaxError: ignored

API key = 4497eae90016152d4d4f74e345fdd30e

Getting the weather condition using openweather api

In [ ]:
import requests
import json
api_key = "4497eae90016152d4d4f74e345fdd30e"
city = "hyderabad"
url = "https://api.openweathermap.org/data/2.5/weather?q=%s&appid=%s&units=metric"%(city,api_key)
response = requests.get(url)
data = json.loads(response.text)
print(data["main"]["temp"])

35.23

DATE_TIME FUNCTION

In [ ]:
import datetime
a = datetime.datetime.now()
a

datetime.datetime(2023, 5, 25, 12, 8, 16, 886923)

Mongodb Installation and connection

In [ ]:
!pip install dnspython
!pip install pymongo[srv]

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting dnspython
  Downloading dnspython-2.3.0-py3-none-any.whl (283 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 283.7/283.7 kB 5.4 MB/s eta 0:00:00
Installing collected packages: dnspython
Successfully installed dnspython-2.3.0
Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting pymongo[srv]
  Downloading pymongo-4.3.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (492 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 492.9/492.9 kB 8.8 MB/s eta 0:00:00
Requirement already satisfied: dnspython<3.0.0,>=1.16.0 in /usr/local/lib/python3.10/dist-packages (from pymongo[srv]) (2.3.0)
Installing collected packages: pymongo
Successfully installed pymongo-4.3.3

Creating connection to Mongodb

In [ ]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Adharsh:<password>@cluster0.s82pgp9.mongodb.net/?retryWrites=true&w=majority")
db = client.test

In [ ]:
import pymongo
client = pymongo.MongoClient("mongodb+srv://Adharsh:Addict01@cluster0.s82pgp9.mongodb.net/?retryWrites=true&w=majority")
db = client.Adharsh
adh = db.vaashi

dict = {
    "name":"adharsh",
    "age":10000
}
adh.insert_one(dict)

Recieve inputs and pass it to database

In [ ]:
dict1 ={
    "name":input(),
    "age":input()
}
adh.insert_one(dict1)

Passing a listof dictionary with unique id

In [ ]:
mylist = [
    {"name":"sheeba","address":"coimbatore"},
    {"name":"suresh","address":"coimbatore"},
    {"name":"navee","address":"kozlikode"},
    {"name":"mithu","address":"coimbatore"},
    {"_id":2,"name":"vaishag","address":"coimbatore"}
]
x = adh.insert_many(mylist)
print(x.inserted_ids)

Uploading an image to database

In [ ]:
from PIL import Image
import io

im = Image.open("/content/1.jpg")
image_bytes = io.BytesIO()
im.save(image_bytes,format="JPEG")
dict1 ={
    "name":"adharsh.s",
    "image":image_bytes.getvalue()
}
adh.insert_one(dict1)
print(image_bytes.getvalue())

Retrieval of image from database

In [ ]:
from PIL import Image
import io
retrieval = adh.find_one({"name":"adharsh.s"})
pil_image = Image.open(io.BytesIO(retrieval["image"]))
pil_image

NameError: ignored

Uploading an text file

In [ ]:
import base64
a =open("/content/Adh","rb")
b = a.read()
d1 = {"p":"p","file":b}
adh.insert_one(d1)

Reading an text file

In [ ]:
b = adh.find_one({"p":"p"})
with open("my_text","wb") as file1:
  file1.write(b["file"])
with open("my_text","r") as file2:
  print(file2.read())

Reading all the file from uploaded db

In [ ]:
for x in adh.find():
  print(x)

Reading the first object from db collection

In [ ]:
x = adh.find_one()
print(x)

Reading from the db collection with display parameter turned off

In [ ]:
for x in adh.find({},{"_id": 0,"name":1,"age":1,"address":1}):
  print(x)

Filtering the required the files from db collection

In [ ]:
for x in adh.find({"name":"navee"},{"_id":False,"address":False}):
  print(x)

FIltering the required files from db collection

In [ ]:
for x in adh.find({"name":"navee","address":"kozlikode"},{"_id":False,"name":True,"address":True}):
  print(x)

Rgex in filtering the data from db collection

In [ ]:
a = adh.find({"age":{"$gt":10}})
for x in a:
  print(x)

Greater - gt, Lesser  - lt

Or condition to filter data from db collection

In [ ]:
A = {"$or":[{"address":"coimbatore"},{"age":{"$gt":10}}]}
B = adh.find(A,{"_id":0})
for x in B:
  print(x)

Descending order

In [ ]:
mydoc = adh.find({"address":"coimbatore"}).sort("_id",-1)
for x in mydoc:
  print(x)

Regex coding with starting letter comparision

In [ ]:
A = adh.find({"address":{"$regex":"^c"}})
for x in A:
  print(x)

Regex coding with ending letter comparision with limit function. [limit function is used to limit the number of output]

In [ ]:
A = adh.find({"address":{"$regex":"de$"}}).limit(2)
for x in A:
  print(x)

Delete one file in db collection

In [ ]:
A = {"address":"coimbatore"}
adh.delete_one(A)
M = adh.find()
for x in M:
  print(x)

Delete many from db collection

In [ ]:
A = {"address":{"$regex":"e$"}}
adh.delete_many(A)
M = adh.find()
for x in M:
  print(x)

Update the existing file with a new key and data value

In [ ]:
A = {"name":"adharsh"}
new = {"$set":{"age":7}}
adh.update_one(A,new)
for x in adh.find():
  print(x)

Set value adds new key and value if it is not existing and if it is existing it will update it

Updating file using unset

In [ ]:
A = {"name":"adharsh"}
new = {"$unset":{"age":"7358"}}
adh.update_one(A,new)
for x in adh.find():
  print(x)

Updating time stamp

In [ ]:
A = {"name":"vaishag"}
new = {"$currentDate":{"lastmodified":True}}
adh.update_one(A,new)
for x in adh.find():
  print(x)

Adding list or array to db collection

In [ ]:
data1={
 "_id": 1,
 "name": "nirmal",
 "quantity": 10,
 "metrics": [
   2, 3.5,"hello"
 ]
}
adh.insert_one(data1)

Incremetning values inside db

In [ ]:
A = {"name":"nirmal"}
new = {"$inc":{"metrics.0":10}}
adh.update_one(A,new)
for x in adh.find():
  print(x)

$mul - multiplication

Embedded document

In [ ]:
new={
  '_id': "nirmazl",
  'name': "Ne   haji Nirmal",
  'address': {
             'street': "nethaji st",
             'city': ["chennai","coimbatore"],
             'state': "tamilnadu",
             'zip': "600006"
           }
}
adh.insert_one(new)

Retrieving an data from Embedded document

In [ ]:
adh.find_one({"_id":"nirmazl"})["address"]["city"][0]

Parent id

In [ ]:
new1 = {
    "_id":"nirma",
    "name":"Nethaji"
}
new2 = {
    "parent_id":"nirma",
    "street":"nirmalji",
    "city":"coimbatore"
}
adh.insert_one(new2)

In [ ]:
x = adh.find_one({"name":"Nethaji"})["_id"]
z = adh.find({"parent_id":x})
for i in z:
  print(i)

Nested josn file

In [ ]:
new4={
  "_id": "nirmal122",
  "name": "nethaji nirmal",
  "addresses":{
               "permamnent":{
                 'street': "123 ",
                 'city': "chennai",
                 'state': "tamil nadu",
                 'zip': "600001"
               },
             "commu":{
                   'street': "456",
                   'city': "coimbatore",
                   'state': "tamilnadu",
                   'zip': "600002"
               }
  }
}
adh.insert_one(new4)

Unwind

In [ ]:
result = adh.insert_many([{"x": 11, "tags1": ["dog", "cat"]},
                               {"x": 22, "tags1": ["mouse", "cat", "dog"]}]
                               )
 
print(result.inserted_ids)

In [ ]:
pipeline = [{"$unwind": "$tags1"},{"$sort":{"x":-1}}]
pipeline